<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AppVeyor Packages" value="https://ci.appveyor.com/nuget/caliburn-micro-6slj1l48j82d" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>
</configuration>